{
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "import/no-extraneous-dependencies": "off",
    "import/extensions": ["error", "always", {
      "js": "never"
    }],
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.js"
      }
    }
  }
}
